{% extends 'blog/base.html' %}

{% block content %}
<div class="about--hero">
  <p>
    2011년 <a href="https://www.kakaocorp.com/" target="_blank">카카오</a>의 41번째 멤버로 합류했습니다.<br>
    2015년부터 <a href="http://grepp.co.kr/" target="_blank">그렙</a>에서 디자인하고 있습니다.
  </p>

  <p>
    저는 프로세스를 자동화하는 것을 즐기고, <br>
    하나의 제품을 꾸준히 다듬어가는 과정을 좋아합니다.<br>
    개인적인 시간에는 웹 플리케이션 개발, 교육 코스 제작 등 <br>
    몇몇 프로젝트를 진행하며 시간을 보내고 있습니다.<br>
  </p>
</div>

<ul class="about--items">
  <li>그렙 <sup>2015. 2 ~ 현재</sup></li>
  <li>카카오 <sup>2011. 4 ~ 2015. 2</sup></li>
  <li>홍익대학교, 커뮤니케이션 디자인 학사. <sup>2003 ~ 2010</sup></li>
  <li>Hands-On Projects for HTML & CSS. <sup>2019, 인터렉티브 코스 <a href="https://next.tech/xyz/hands-on-projects-for-html-and-css" target="_blank">↗</a></sup> </li>
  <li>코딩을 처음 시작하는 사람들을 위한 HTML/CSS 스터디. <sup>2018, 오프라인 코스 <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBpGYtIQJo_m3DMelR-avC2YrowjwdakMyDyUSj-tZlSeovw/viewform" target="_blank">↗</a></sup></li>
  <li>Usability and UX Designing for S/W Engineer. <sup>2016, 국민대학교 특강 <a href="https://docs.google.com/presentation/d/1m0adDxZVMmG0z6b_aJv5Ep_L8D0xjzq0VSQ7PoCo7bs/edit?usp=sharing" target="_blank">↗</a></sup></li>
  <li>퍼스널 컴퓨터를 통한 모바일 디바이스 입력 방법 및 장치. <sup>2015, 특허 <a href="http://www.ndsl.kr/ndsl/search/detail/patent/patentSearchResultDetail.do?cn=KOR1020130091990" target="_blank">↗</a></sup></li>
  <li>복수의 알림 모드들을 이용하는 이동 단말의 알림 방법. <sup>2014, 특허 <a href="http://www.ndsl.kr/ndsl/search/detail/patent/patentSearchResultDetail.do?cn=KOR1020120048526" target="_blank">↗</a></sup></li>
</ul>

<h5 class="hyperlink-resume">
  <a href="http://bit.ly/2mUr5u9" target="_blank">
    📋 이력서 보기
  </a>
</h5>

{% endblock %}

