<!doctype html>
{% load static %}
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/application.css' %}">
  <title>Park Kisun</title>
</head>
<body>
<div class="container-work-details">
  <header class="nav-index" id="js_nav_index">
    <nav>
      <ul>
        <li class="index-item active"><a href="#cover">Cover</a></li>
        <li class="index-item"><a href="#process">Design Process</a></li>
        <li class="index-item"><a href="#programmers">Programmers</a></li>
        <li class="index-item"><a href="#fs_search">FS Search</a></li>
        <li class="index-item"><a href="#hands-on">Hands-On Projects for HTML & CSS</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="section-item" id="cover">
      <div class="col-cover">
        <div class="animated-fade-in">
          <h2 class="title">
            <span class="underline-red">Park Kisun<br>Project Details</span>
          </h2>
          <ol class="list-index">
            <li>Design Process</li>
            <li>Programmers</li>
            <li>FS Search</li>
            <li>Hands-On Projects for HTML & CSS</li>
          </ol>
          <h3 class="arrow-down"><a href="#process">↓</a></h3>
        </div>
      </div>
    </section>

    <section id="process">
      <div class="section-item">
        <div class="col-header">
          <h3 class="header-title">Design Process</h3>
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            지금까지 대부분의 프로젝트에 참여할 때, 7단계의 프로세스를 통해 팀에 기여했습니다.
            디자인의 각 단계를 진행하면서 팀/비즈니스의 의도에 맞는지 지속적으로 체크하고
            프로세스를 가능한 많이 반복하려고 노력하고 있습니다.
          </p>

          <ol style="margin-top: 24px;">
            <li>
              <b>Definition</b> <br>
            </li>
            <li>
              <b>Flowchart</b><br>
            </li>
            <li>
              <b>Wireframe</b><br>
            </li>
            <li>
              <b>Design System</b><br>
            </li>
            <li>
              <b>GUI</b><br>
            </li>
            <li>
              <b>Prototype</b><br>
            </li>
            <li>
              <b>Commit & QA</b> <br>
            </li>
          </ol>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571792863/parkkisun/img-process.png" alt="첨부 이미지">

        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            <b>1. Definition</b> <br>
            문제/요구를 직접 찾기도 하지만, 다른 팀과 협업하면서 수용하는 경우가 많았습니다.
            가능하다면 문제를 요청하는 상황을 충분히 이해하고 그 컨텍스트에 맞게 문제를 재정의하려고 노력합니다.
            정의된 문제에 맞는 해결책의 방향이나 가설도 같이 찾습니다.
          </p>
          <p>
            <b>2. Flowchart</b><br>
            정의된 문제와 해결 방향을 빠르게 사용자의 흐름으로 표시합니다.
            디테일한 요소들은 없지만, 페이지 단위의 흐름대로 사용자가 움직였을 때 문제가 해결되는지 확인합니다.
            프로젝트가 큰 경우, 다른 기능들과 충돌하지는 않는지 확인하려고 노력합니다.
          </p>
          <p>
            <b>3. Wireframe</b><br>
            조금 더 구체적인 UI를 표현합니다. 빠르게 종이에 뼈대를 그리고, Sketch에 옮기는 식으로 반복합니다.
            이때 모든 디테일한 요소들이 빠지지 않도록 하고, 가능하다면 UI 문구도 정확하게 입력하려 노력합니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571790590/parkkisun/img-define.jpg" alt="첨부 이미지">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571790689/parkkisun/img-flowchart.png" alt="첨부 이미지">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571792446/parkkisun/fireframe.png" alt="첨부 이미지">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            <b>4. Design System</b><br>
            위에도 언급했지만, 작게는 공통 서체, 색상 등의 테마의 규칙을 정하거나,
            UI 요소 라이브러리, 사용성 가이드라인 등, 더 효율적인 협업과 제품 제작을 위한 디자인 시스템을 구축합니다.
          </p>
          <p>
            <b>5. GUI</b><br>
            가급적 OS의 기본 사용성을 중요하게 생각합니다.
            여러 서비스를 동시에 사용하는 사용자들이 작동법을 새로 배우지 않고 제품을 이용할 수 있도록 노력합니다.
            물론, 필요한 경우에는 완전히 새로 디자인합니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571793253/parkkisun/system.png" alt="첨부 이미지">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571791775/parkkisun/gui.png" alt="첨부 이미지">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            <b>6. Prototype / Publishing</b><br>
            웹의 경우에는 HTML/SCSS를 통해 직접 뷰를 표현합니다.
            모바일의 경우에는 protopie를 주로 활용하여 목업을 제작하여 개발자들과 협업합니다.
            가급적 개발자가 구현할 때 다시 개발하지 않는 것을 지향합니다.
          </p>
          <p>
            <b>7. Commit & QA</b> <br>
            현재는 웹 서비스를 운영 중이기 때문에,
            디자인 버그는 직접 수정하여 Github를 통해 커밋하고 있습니다.
            직접 커밋하지 않더라도, 제품이 의도한 디자인대로 반영되었는지 QA 하고 있습니다..
            시간이 되거나 마음에 들때까지 최대한 많이 반복하여 개선하려고 노력하고 있습니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571802012/parkkisun/img-mock.png" alt="첨부 이미지">
        </div>
      </div>

    </section>

    <section id="programmers">
      <div class="section-item">
        <div class="col-header">
          <h3 class="header-title">Programmers</h3>
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            프로그래머스는 '더 기술적인 채용 프로세스'를 목표로 개발자들의 역량을 시각화하고,
            기술적인 평가를 통해 효율적으로 채용할 수 있는 채용/평가 서비스입니다.
            저는 비즈니스 방향을 제품의 기술적인 특징을 이해하고 그에 맞는 기능 설계와,
            End-user 시점의 UI를 담당했습니다. 모든 뷰의 퍼블리싱을 함게 진행으며,
            Bootstrap v4.3.1 버전을 수정하여 사용 중입니다.
          </p>
          <h6><a href="https://programmers.co.kr/" target="_blank">Programmers website</a></h6>
          <h6><a href="https://programmers.co.kr/design/main" target="_blank">Design System</a></h6>
          <ul class="project-metas">
            <li>
              <h6>역할</h6>
              <p>
                Design
              </p>
              <br>
              <h6>기간</h6>
              <p>
                2016년 6월 ~ 현재
              </p>
            </li>

            <li>
              <h6>기술</h6>
              <p>
                HTML, SCSS<br>
                Bootstrap<br>
                Sketch<br>
                Invision<br>
                Adobe creatives<br>
                <sub>Low level</sub><br>
                JavaScript(jQuery)<br>
                Google Chart<br>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890111/parkkisun/prgms-1.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890111/parkkisun/prgms-3.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890111/parkkisun/prgms-2.jpg" alt="">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>디자인 시스템</h5>
          <p>
            프로그래머스는 온라인 코드 실행기 환경을 구현하는 것으로 프로젝트가 시작되었습니다.
            그 후, <code>온라인 학습코스 -> 코딩 테스트 -> ATS(채용/지원자 관리)</code> 순으로
            빠르게 확장/통합되었기 때문에 여러 가지 목적을 가진 기능들을 하나의 서비스로 녹여내는 과정이 있었습니다.
            그 과정에서 반복적으로 직면하는 문제는 시간 부족과 일괄된 UI 였습니다.
          </p>
          <p>
            서비스가 확장하는 과정에서 생기는 문제들을 해결하기 위하여
            디자인너와 개발자들이 가장 많이 접하는 로고, 서체, 색상, UI 요소들를 정리하여 접근하기 쉽도록 했습니다.
            서체, 색상은 필요한 기준으로 구분하여 Scss 변수로 정리하고, UI 요소는 HTML과 CSS 클래스로 구성하여 개발자/디자이너들이 바로 사용할 수 있도록 했습니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890842/parkkisun/dg-0.jpg" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890853/parkkisun/dg-1.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890847/parkkisun/dg-2.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890842/parkkisun/dg-3.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571890840/parkkisun/dg-4.png" alt="">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>타겟 공감하기</h5>
          <p>
            Codecademy, khan academy, 생활코딩, 기본 매뉴얼 등을 통해
            Python, JavaScript를 공부했으며,
            직접 쉬운 레벨의 알고리즘 문제를 풀면서 온라인에서 역량 평가를 진행하는 개발자를 이해하기 위해 노력했습니다.
            만들면서 온라인 이력서를 등록하는 것이 (자신의 PDF 파일이 아니고) 얼마나 어려운 행동을 요구하는 것인지
            알기 위해 많은 시행착오를 겪었습니다. 행동을 파악하기 위해 구글 애널리틱스를 활용했습니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571908208/parkkisun/rc-1.jpg" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571908207/parkkisun/rc-2.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571908207/parkkisun/rc-3.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571908208/parkkisun/rc-4.png" alt="">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>폼(FORM) UI</h5>
          <p>
            온라인상에서 자신의 경험과 프로젝트를 보여줄 수 있는 폼과 뷰를 디자인했습니다.
            계정 생성과 같이 일반적인 폼보다는 등록해야 하는 정보가 많았기 때문에,
            진행 흐름과 저장 방식을 불편하지 않게 하려고 노력했습니다.
            Wizard UI를 적용하여 사용자가 폼 입력을 단계별로 진행할 수 있도록 했습니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571892535/parkkisun/re-1.jpg" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571892535/parkkisun/re-2.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571892535/parkkisun/re-3.png" alt="">
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>온라인 코딩 테스트 환경</h5>
          <p>
            온라인상에서 진행하는 코딩 테스트 환경을 디자인했습니다.
            지원자들이 온라인 상에서 코드를 작성하는 불편함은 최소화하고,
            문제를 이해하는 것 이외의 고민이 없도록 레이아웃을 조정하고,
            Atom, VS Code를 이용하는 수준의 코드 가독성을 유지하려고 노력했습니다.
          </p>
          <p>
            Mono 타입 서체는 Hack을 선택했으며,
            배경을 밝음/어두움으로 조정할 수 있으면 각 배경에 맞는 코드/마크다운의 Color theme를 구성했습니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571891448/parkkisun/te-1.jpg" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571891448/parkkisun/te-2.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571891448/parkkisun/te-3.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571891448/parkkisun/te-4.png" alt="">
        </div>
      </div>
    </section>

    <section id="fs_search">
      <div class="section-item">
        <div class="col-header">
          <h3 class="header-title">FS Search</h3>
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <p>
            FS Search는 Python을 활용한 토이 프로젝트입니다.
            DART에 등록된 기업코드 6자리를 직접 입력하거나 목록을 클릭하면 자동으로 코드가 입력되어,
            DART에서 직접 검색하던 방식보다 간편하게 최근 연도의 기업 재무제표를 조회할 수 있도록 했습니다.
          </p>
          <a href="https://github.com/los0731/fs_search" target="_blank">
            <h6>Github Repository</h6>
          </a>
          <ul class="project-metas">
            <li>
              <h6>역할</h6>
              <p>
                Design<br>
                Development
              </p>
              <br>
              <h6>년도</h6>
              <p>
                2019년
              </p>
            </li>

            <li>
              <h6>기술</h6>
              <p>
                HTML, SCSS<br>
                Bootstrap<br>
                <sub>Low level</sub><br>
                Python<br>
                Beautiful Soup<br>
                Pandas<br>
                JavaScript
              </p>
            </li>
          </ul>
        </div>
        <div class="col-visuals">
          <div class="video-frame">
            <iframe src="https://www.youtube.com/embed/bolDxdfxOVE?&autoplay=1&loop=1&playlist=bolDxdfxOVE&modestbranding=1&disablekb=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>파이썬으로 크롤링</h5>
          <p>
            6자리 숫자의 기업 코드를 알고 있다면 DART에서 제공하는 API와 조합하여
            해당 기업의 분기보고서를 조회할 수 있었습니다.
            그중 별도의 URL를 조합하여 최근 연도의 재무제표만 볼 수 있도록 했습니다.
            모든 데이터들을 data table로 정리하는 것은 Pandas를 활용했고,
            URL을 조합하기 위한 특정 값은 Beautiful Soup을 활용해서 크롤링했습니다.
          </p>
          <p>
            View에서는 6자리의 기업 코드를 입력할 수 있는 form과 상위 기업들의 기업 코드 목록이 있습니다. 목록을 클릭하면 해당 기업의 코드가 form의 input에 채워지도록 간단한 스크립트를 작성했습니다. 입력 시 input 값을 python 코드로 보내서 위의 6단계 프로세스를 거치도록 합니다.
          </p>
        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571927643/parkkisun/fs.jpg" alt="">
        </div>
      </div>
    </section>

    <section id="hands-on">
      <div class="section-item">
        <div class="col-header">
          <h3 class="header-title">Hands-On Projects for HTML & CSS</h3>
        </div>
      </div>
      <div class="section-item markdown">
        <div class="col-description">
          <h5>어떻게 개발을 배웠어요?</h5>
          <p>
            위의 질문에 대하여,
            동료 개발자들에게서 문법을 (충분히) 익히기 전에 목적에 따라 무언가를 먼저 만들면서 배우기 시작했다는 이야기를 종종 들었습니다.
            저 또한 그런 경험이 있었습니다. 저는 친구 1명과 토이프로젝트로 테스트를 해보기로 했습니다.
          </p>

          <a href="https://next.tech/xyz/hands-on-projects-for-html-and-css" target="_blank">
            <h6>Course Information</h6>
          </a>

          <ul class="project-metas">
            <li>
              <h6>역할</h6>
              <p>
                Cource curriculum<br>
                Design & Code <br>
                Test cast
              </p>
            </li>

            <li>
              <h6>기술</h6>
              <p>
                Sketch<br>
                HTML, CSS<br>
                Beautiful Soup<br>
                Regular Expression
              </p>
            </li>

            <li>
              <h6>년도</h6>
              <p>
                2019년
              </p>
            </li>

            <li>
              <h6>팀구성</h6>
              <p>
                2인
              </p>
            </li>

            <li style="width: 100%;">
              <h6>프로세스</h6>
              <p>
                커리큘럼 검증 -> 온라인 코스 제작 -> 테스트 케이스 작성 -> 제출
              </p>
            </li>
          </ul>
        </div>
        <div class="col-visuals">
          <video autoplay loop muted poster="{% static 'imgs/img-html-poster.png' %}">
            <source src="{% static 'imgs/video_html.mp4' %}" type="video/mp4"/>
            <source src="{% static 'imgs/video_html.webm' %}" type="video/webm"/>
          </video>
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571930082/parkkisun/ht-1.jpg" alt="">
        </div>
      </div>

      <div class="section-item markdown">
        <div class="col-description">
          <h5>사용자 테스트를 제작된 8개의 핸즈온 프로젝트</h5>
          <p>
            <code>프로젝트를 통해 배운다</code>는 컨셉을 러프한 커리큘럼을 만들고,
            검증을 위해 오프라인 강좌를 개설했습니다.
            3개월동안 실제로 참가자들을 관찰하면서 컨텐트와 방향을 조정했고,
            이를 바탕으로 온라인에서 별도의 설치 환경이 없이 8개의 프로젝트를 진행할 수 있는 코스 만들었습니다.
          </p>

          <p>
            초기 테스터들이 학습 코스를 잘 따라오지 못했습니다.
            초기 난도가 높다는 가설을 세웠으나,
            몇 번의 시행착오 결과 학습을 저해하는 요소는 코스의 난이도가 아니고,
            사용자가 틀리거나 막혔을 때, 실시간으로 질문과 대답을 들을 수 없다는 것이었습니다.
            따라서, 페어 프로그래밍 하듯이 지원자의 코드를 체크하고
            적절한 피드백을 주기 위해 파이썬의 Beautiful Soup, 정규표현식을 활용하여 사용자의 HTML/CSS 코드가
            올바른지 체크하는 테스트 케이스를 작성했습니다. 봇의 형태로 사용자가 틀린 코드를 작성했을 때,
            틀린 부분이 무엇인지 안내하고, 올바른 코드를 가이드하도록 했습니다.
          </p>

          <p>
            학습 코스는 아주 간단한 문서부터, Google 검색 페이지까지 난이도를 높여가면서
            다양한 태그/클래스를 사용해볼 수 있도록 8개의 HTML/CSS 프로젝트 입니다.
            프로젝트에 사용한 요소들은 실제 러닝되고 있는 제품을 카피하거나 직접 디자인했습니다.
          </p>

        </div>
        <div class="col-visuals">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571930447/parkkisun/ht-5.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571930081/parkkisun/ht2.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571930082/parkkisun/ht-3.png" alt="">
          <img src="https://res.cloudinary.com/dyiqg9qhi/image/upload/v1571930082/parkkisun/ht-4.png" alt="">
        </div>
      </div>
    </section>
  </main>

  <footer>
    <a href="/">
      2019 박기선
    </a>

    {% if user.is_authenticated %}
    <h6 class="text-signed">로그인 됨</h6>
    {% else %}
    <a href="/admin" class="float-right">로그인</a>
    {% endif %}


  </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQue4ry first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/menuspy/dist/menuspy.js' %}"></script>
<script>
  var elm = document.querySelector('#js_nav_index');
  var ms = new MenuSpy(elm);
</script>
</body>
</html>

