{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

{% if posts %}
<div class="recent-posts">
  <h5 class="label">최신글</h5>
  <ul class="list-recent-posts">
    {% for post in posts %}
    <li>
      <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}


<ol class="list-projects">
  <li class="project-item" id="project_programmers">
    <h5 class="label number">Programmers</h5>

    <div class="content">
      <p class="description">
        개발자 커리어를 위한 역량 평가 & 개발자 채용 서비스, Programmers를 설계/운영하고 있습니다.
        2019년 국내 개발자 역량 평가 시장 점유율 1위를 유지하고 있으며,
        카카오, 라인, 현대자동차, LG, NCSOFT 등 국내 최고의 기술 기업들과 함께 하고 있습니다.
      </p>

      <img src="{% static 'imgs/img-prgms-1.png' %}" alt="프로그래머스 첫번째 이미지">
      <img src="{% static 'imgs/img-prgms-3.png' %}" alt="프로그래머스 두번째 이미지">
      <img src="{% static 'imgs/img-prgms-2.png' %}" alt="프로그래머스 세번째 이미지">
      <img src="{% static 'imgs/img-prgms-4.png' %}" alt="프로그래머스 세번째 이미지">
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://programmers.co.kr/" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-web.png' %}" alt="">
          <h6>Programmers</h6>
        </a>
      </li>

      <li class="list-link-item">
        <a href="https://programmers.co.kr/design/main" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-system.png' %}" alt="">
          <h6>Design system</h6>

        </a>
      </li>
    </ul>
  </li>

  <li class="project-item" id="project_fs">
    <h5 class="label number">FS Search</h5>

    <div class="content">
      <p class="description">
        2019년. 오픈튜토리얼즈 회계 1을 공부하며 재무제표를 조회할 일이 많았습니다.
        재무제표를 조회하는 흐름이 매우 불편했기 때문에,
        기업 종목 코드를 입력하면 최근 재무제표를 바로 조회할 수 있는 웹 애플리케이션을 만들었습니다.
        Dart Open API에서 정보를 받았으며, Beautiful Soup, Pandas을 활용하여 Python으로 개발했습니다.
      </p>

      <video controls autoplay loop muted poster="{% static 'imgs/img_fssearch_1.png' %}">
        <source src="{% static 'imgs/video_fssearch.mp4' %}" type="video/mp4"/>
        <source src="{% static 'imgs/video_fssearch.webm' %}" type="video/webm"/>
      </video>
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://github.com/los0731/fs_search" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-code.png' %}" alt="">
          <h6>Github Repo</h6>
        </a>
      </li>
    </ul>
  </li>

  <li class="project-item" id="project_html">
    <h5 class="label number">Hands-On Projects for HTML & CSS</h5>

    <div class="content">
      <p class="description">
        2019년에 친구와 함께 온라인에서 직접 코드를 입력하면서 HTML/CSS 프로젝트를 진행할 수 있는 튜토리얼 코스를 만들었습니다.
        Beautiful Soup과 정규표현식으로 학습자의 코드가 옳은지 체크하는 테스트 케이스를 작성하여 학습자가 봇과 페이프로그래밍 하듯
        프로젝트를 만들어나갈 수 있도록 했습니다. 강의를 게재한 Next.xyz에는 작가 등록이 되어있습니다.
      </p>

      <img src="{% static 'imgs/img-html-1.png' %}" alt="코스 이미지">

      <video controls autoplay loop muted poster="{% static 'imgs/img-html-poster.png' %}">
        <source src="{% static 'imgs/video_html.mp4' %}" type="video/mp4"/>
        <source src="{% static 'imgs/video_html.webm' %}" type="video/webm"/>
      </video>
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://next.tech/xyz/hands-on-projects-for-html-and-css" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-keynote.png' %}" alt="">
          <h6>Course info</h6>
        </a>
      </li>
    </ul>
  </li>

  <li class="project-item" id="project_retrospin">
    <h5 class="label number">Retrospin</h5>

    <div class="content">
      <p class="description">
        2018년에 친구의 토이프로젝트인 RetroSpin을 디자인했습니다.
        RetroSpin은 회고를 진행하는 애자일 팀들을 위한 온라인 회고 툴로서 개인 또는 팀의 회고가 가능하게 하고,
        지속적으로 회고할 수 있도록 기록해주는 기능을 제공합니다.
      </p>

      <img src="{% static 'imgs/img-retrospin-1.png' %}" alt="레트로스핀 설명 이미지 1">
      <img src="{% static 'imgs/img-retrospin-2.png' %}" alt="레트로스핀 설명 이미지 2">
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://retrospin.io/" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-web.png' %}" alt="">
          <h6>Retrospin (개발중)</h6>
        </a>
      </li>
    </ul>
  </li>

  <li class="project-item" id="project_hashcode">
    <h5 class="label number">Hashcode</h5>

    <div class="content">
      <p class="description">
        2016년에 설계한 Hashcode는 7000개 이상의 S/W 개발 인사이트와,
        매월 15만 명의 개발자가 방문하는 프로그래밍 Q&A 서비스입니다.
        2018년에 목록 및 질문 콘텐츠의 가독성 향상을 위하여 디자인을 리뉴얼했습니다.
      </p>

      <img src="{% static 'imgs/img-hashcode-1.png' %}" alt="해시코드 설명 이미지 1">
      <img src="{% static 'imgs/img-hashcode-2.png' %}" alt="해시코드 설명 이미지 2">
      <img src="{% static 'imgs/img-hashcode-3.png' %}" alt="해시코드 설명 이미지 3">
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://hashcode.co.kr/" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-web.png' %}" alt="">
          <h6>Hashcode</h6>
        </a>
      </li>
    </ul>
  </li>

  <li class="project-item" id="project_faces">
      <h5 class="label number">In your Face</h5>

    <div class="content">
      <p class="description">
        개인 프로젝트로 친구, 지인, 처음 만난 사람, 팀 동료들의 얼굴을 그렸습니다.
        이 아이디어는 팀원들의 호응으로 Grepp 명함의 콘셉트가 되었으며, 지금도 계속해서 그리고 있습니다.
      </p>

      <img src="{% static 'imgs/img-illust-1.png' %}" alt="일러스트레이션 이미지 1">
      <img src="{% static 'imgs/img-illust-2.jpg' %}" alt="일러스트레이션 이미지 1">
    </div>
  </li>

  <li class="project-item" id="project_rmmbrit">
    <h5 class="label number">Rememberit</h5>

    <div class="content">
      <p class="description">
        2016년에 망각 곡선을 활용하여 더 효율적으로 암기를 도와주는 웹 플래시카드 서비스 Rememberit을 디자인했습니다.
        크롬 익스텐션을 지원하는 Rememberit은 웹에서 모르는 단어를 바로 저장할 수 있고, cambridge 외
        6개의 주요 사전 서비스에서 직접 스크랩하도록 도와줍니다.
      </p>

      <div class="rmmbrit-gif-wrap">
        <img src="{% static 'imgs/img-rmmbrit-1.gif' %}" alt="리멤버잇 이미지 1">
      </div>

      <img src="{% static 'imgs/img-rmmbrit-2.png' %}" alt="리멤버잇 이미지 1">
    </div>

    <ul class="list-links">
      <li class="list-link-item">
        <a href="https://goo.gl/QKICzU" target="_blank">
          <img class="thumb" src="{% static 'imgs/thumb-extention.png' %}" alt="">
          <h6>Chrome extension</h6>
        </a>
      </li>
    </ul>
  </li>
</ol>
{% endblock %}
