@import "varibales";
@import "mixin";

body {
  @include font-default;
  @include font-size-base;
  color: $color-text--primary;
  background-color: white;
  line-height: 1.4;
}

a {
  @include transition();
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

a:hover:not(.btn),
a:focus:not(.btn) {
  outline: 0;
  color: $color-primary--hover;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-default;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-weight: 700; -webkit-font-smoothing: antialiased;
}

h4 {
  font-weight: 700; -webkit-font-smoothing: antialiased;
}

h5,
h6 {
  font-weight: 400;

}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

p {
  @include font-default;

  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 8px;
  letter-spacing: -0.1px;
}

.text-muted {
  color: $color-text--secondary !important;
}

code,
kbd,
pre,
samp {
  @include font-mono;
}

code {
  margin: 0 2px 0 0;
  padding: 2px 6px;
  color: $blue-grey-800;
  background-color: $blue-grey-25;
  border: 1px solid $color-border;
  border-radius: 3px;
}

pre {
  padding: 12px 16px;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  color: $blue-grey-900;
  background-color: $blue-grey-25;
  border: 1px solid $color-border;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

blockquote {
  padding: 16px;
  border-left: 3px solid $color-border;

  small {
    @include h6;
    font-weight: 400;
    font-style: italic;

    &:before {
      content: '―';
      padding-right: 8px;
    }
  }
}

.container {
  @include container-xl;
}

.container-sm {
  @include container-sm;
}

.container-md {
  @include container-md;
}

.container-lg {
  @include container-lg;
}

.container-xl {
  @include container-xl;
}

.container-xxl {
  @include container-xxl;
}

.container-xxxl {
  @include container-xxxl;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-auto,
.col-xxxl,
.col-xxxl-1,
.col-xxxl-10,
.col-xxxl-11,
.col-xxxl-12,
.col-xxxl-2,
.col-xxxl-3,
.col-xxxl-4,
.col-xxxl-5,
.col-xxxl-6,
.col-xxxl-7,
.col-xxxl-8,
.col-xxxl-9,
.col-xxxl-auto {
  padding-right: 16px;
  padding-left: 16px;
}

//### table ###//
.table {
  margin: 0;
  border: none;
  color: inherit;

  th, td {
    padding: 4px 8px;
    border-top: 1px solid $color-border;
  }

  thead tr th {border-bottom: 0;}
  tbody tr:last-child td {border-bottom: none;}
}

.table-bordered {
  border: 1px solid $color-border
}

.table-bordered td,
.table-bordered th {
  border: 1px solid $color-border
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
  border-top: 0;
  border-bottom: 0;
}

.table-responsive>.table-bordered {
  border: 1px solid $color-border
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $color-code-background;
}

.table-hover tbody tr:hover {
  @include transition(.06s);
  background-color: $color-code-background;
  td {cursor: pointer;}
}

//### table status ###//
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
  background-color: $color-code-background;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th, .table-hover > tbody > tr > td.success:hover, .able-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
  color: $color-success;
  background-color: rgba(76, 175, 80, .06);
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
  color: $color-info;
  background-color: rgba(103, 58, 183, .06);
}

.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
  color: $color-warning;
  background-color: rgba(255, 87, 34, .06);
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
  color: $color-danger;
  background-color: rgba(244, 67, 54, .06);
}

.btn {
  @include h5;
  font-weight: 500;
  color: $color-primary;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 7px 13px;
  cursor: pointer;
  transition: color .08s ease-in-out, background-color .08s ease-in-out, border-color .08s ease-in-out, box-shadow .08s ease-in-out;

  svg, span {
    display: inline-block;
    vertical-align: middle;
  }

  svg {fill: $color-primary;}
}

.btn:hover {
  color: $color-primary--hover;
  text-decoration: none;
  svg {fill: $color-primary--hover;}
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(233, 236, 243, .5)
}

.btn.disabled,
.btn:disabled {
  opacity: .4;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none
}

.btn-lg {
  @include h3;
  padding: 8px 16px;
  font-weight: 700; -webkit-font-smoothing: antialiased;
}

.btn-primary {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;
  svg {fill: white;}
}

.btn-primary:hover {
  color: white;
  background-color: $color-primary--hover;
  border-color: $color-primary--hover;
  svg {fill: white;}
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: $color-primary--hover;
  border-color: $color-primary--hover;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-secondary {
  color: white;
  background-color: $color-text--secondary;
  border-color: $color-text--secondary;
  svg {fill: white;}
}

.btn-secondary:hover {
  color: white;
  background-color: $blue-grey-400;
  border-color: $blue-grey-400;
  svg {fill: white;}
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: white;
  background-color: $blue-grey-400;
  border-color: $blue-grey-400;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: white;
  background-color: $blue-grey-400;
  border-color: $blue-grey-400;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-success {
  color: white;
  background-color: $color-success;
  border-color: $color-success;
  svg {fill: white;}
}

.btn-success:hover {
  color: white;
  background-color: $color-success--hover;
  border-color: $color-success--hover;
  svg {fill: white;}
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-success.disabled,
.btn-success:disabled {
  color: white;
  background-color: $color-success;
  border-color: $color-success;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
  color: white;
  background-color: $color-success--hover;
  border-color: $color-success--hover;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-info {
  color: white;
  background-color: $color-info;
  border-color: $color-info;
  svg {fill: white;}
}

.btn-info:hover {
  color: white;
  background-color: $color-info--hover;
  border-color: $color-info--hover;
  svg {fill: white;}
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
}

.btn-info.disabled,
.btn-info:disabled {
  color: white;
  background-color: $color-info;
  border-color: $color-info;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
  color: white;
  background-color: $color-info--hover;
  border-color: $color-info--hover;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5);
}

.btn-warning {
  color: white;
  background-color: $color-warning;
  border-color: $color-warning;
  svg {fill: white;}
}

.btn-warning:hover {
  color: white;
  background-color: $color-warning--hover;
  border-color: $color-warning--hover;
  svg {fill: white;}
}

.btn-warning.focus,
.btn-warning:focus {
  box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: white;
  background-color: $color-warning;
  border-color: $color-warning
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
  color: white;
  background-color: $color-warning--hover;
  border-color: $color-warning--hover
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-danger {
  color: white;
  background-color: $color-danger;
  border-color: $color-danger;
  svg {fill: white;}
}

.btn-danger:hover {
  color: white;
  background-color: $color-danger--hover;
  border-color: $color-danger--hover;
  svg {fill: white;}
}

.btn-danger.focus,
.btn-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: white;
  background-color: $color-danger;
  border-color: $color-danger
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
  color: white;
  background-color: $color-danger--hover;
  border-color: $color-danger--hover
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-light {
  color: $color-text--primary;
  background-color: $blue-grey-50;
  border-color: $blue-grey-50;
  svg {fill: $color-text--primary;}
}

.btn-light:hover {
  color: $color-text--primary;
  background-color: $blue-grey-75;
  border-color: $blue-grey-75;
  svg {fill: $color-text--primary;}
}

.btn-light.focus,
.btn-light:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light.disabled,
.btn-light:disabled {
  color: $color-text--primary;
  background-color: $blue-grey-50;
  border-color: $blue-grey-50
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  color: $color-text--primary;
  background-color: $blue-grey-75;
  border-color: $blue-grey-75
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light-danger {
  color: $red-500;
  background-color: $red-50;
  border-color: $red-50;
  svg {fill: $red-500;}
}

.btn-light-danger:hover {
  color: $red-700;
  background-color: $red-75;
  border-color: $red-75;
  svg {fill: $red-700;}
}

.btn-light-danger.focus,
.btn-light-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 235, 238, .5)
}

.btn-light-danger.disabled,
.btn-light-danger:disabled {
  color: $red-500;
  background-color: $red-50;
  border-color: $red-50
}

.btn-light-danger:not(:disabled):not(.disabled).active,
.btn-light-danger:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  color: $red-500;
  background-color: $red-50;
  border-color: $red-50
}

.btn-light-danger:not(:disabled):not(.disabled).active:focus,
.btn-light-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 235, 238, .5)
}

.btn-light-primary {
  color: $color-primary;
  background-color: $blue-50;
  border-color: $blue-50;
  svg {fill: $color-primary;}
}

.btn-light-primary:hover {
  color: $color-primary--hover;
  background-color: $blue-75;
  border-color: $blue-75;
  svg {fill: $color-primary--hover;}
}

.btn-light-primary.focus,
.btn-light-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 221, 255, .5)
}

.btn-light-primary.disabled,
.btn-light-primary:disabled {
  color: $color-primary--hover;
  background-color: $blue-50;
  border-color: $blue-50
}

.btn-light-primary:not(:disabled):not(.disabled).active,
.btn-light-primary:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  color: $color-primary--hover;
  background-color: $blue-50;
  border-color: $blue-50
}

.btn-light-primary:not(:disabled):not(.disabled).active:focus,
.btn-light-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 221, 255, .5)
}

.btn-dark {
  color: white;
  background-color: $blue-grey-700;
  border-color: $blue-grey-700;
  svg {fill: white;}
}

.btn-dark:hover {
  color: white;
  background-color: $blue-grey-800;
  border-color: $blue-grey-800;
  svg {fill: white;}
}

.btn-dark.focus,
.btn-dark:focus {
  box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: white;
  background-color: $blue-grey-700;
  border-color: $blue-grey-700
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
  color: white;
  background-color: $blue-grey-800;
  border-color: $blue-grey-800
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;
  svg {fill: $color-primary;}
}

.btn-outline-primary:hover {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;
  svg {fill: white;}
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: $color-primary;
  background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-secondary {
  color: $color-text--secondary;
  border-color: $color-text--secondary;;
  svg {fill: $color-text--secondary;}
}

.btn-outline-secondary:hover {
  color: white;
  background-color: $color-text--secondary;
  border-color: $color-text--secondary;;
  svg {fill: white;}
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: $color-text--secondary;
  background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  color: white;
  background-color: $color-text--secondary;
  border-color: $color-text--secondary;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-success {
  color: $color-success;
  border-color: $color-success;
  svg {fill: $color-success;}
}

.btn-outline-success:hover {
  color: white;
  background-color: $color-success;
  border-color: $color-success;
  svg {fill: white;}
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: $color-success;
  background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
  color: white;
  background-color: $color-success;
  border-color: $color-success
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info {
  color: $color-info;
  border-color: $color-info;
  svg {fill: $color-info;}
}

.btn-outline-info:hover {
  color: white;
  background-color: $color-info;
  border-color: $color-info;
  svg {fill: white;}
}

.btn-outline-info.focus,
.btn-outline-info:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: $color-info;
  background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
  color: white;
  background-color: $color-info;
  border-color: $color-info
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning {
  color: $color-warning;
  border-color: $color-warning;
  svg {fill: $color-warning;}
}

.btn-outline-warning:hover {
  color: $color-text--primary;
  background-color: $color-warning;
  border-color: $color-warning;
  svg {fill: white;}
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: $color-warning;
  background-color: transparent
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show>.btn-outline-warning.dropdown-toggle {
  color: $color-text--primary;
  background-color: $color-warning;
  border-color: $color-warning
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger {
  color: $color-danger;
  border-color: $color-danger;
  svg {fill: $color-danger;}
}

.btn-outline-danger:hover {
  color: white;
  background-color: $color-danger;
  border-color: $color-danger;
  svg {fill: white;}
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: $color-danger;
  background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
  color: white;
  background-color: $color-danger;
  border-color: $color-danger
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-light {
  color: $color-text--primary;
  border-color: $color-border;
  svg {fill: $color-text--primary;}
}

.btn-outline-light:hover {
  color: $color-text--primary;
  background-color: $blue-grey-10;
  border-color: $color-border--hover;
  svg {fill: $color-text--primary;}
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: $color-text--primary;
  background-color: $blue-grey-10;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
  color: $color-text--primary;
  background-color: $blue-grey-10;
  border-color: $color-border--hover;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark {
  color: $blue-grey-700;
  border-color: $blue-grey-700;
  svg {fill: $blue-grey-700;}
}

.btn-outline-dark:hover {
  color: white;
  background-color: $blue-grey-800;
  border-color: $blue-grey-800;
  svg {fill: white;}
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: $blue-grey-700;
  background-color: transparent
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle {
  color: white;
  background-color: $blue-grey-800;
  border-color: $blue-grey-800
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-link {
  font-weight: 400;
  color: $color-primary;
  text-decoration: none;
  svg {fill: $color-primary;}
}

.btn-link:hover {
  color: $color-primary--hover;
  text-decoration: underline;
  svg {fill: $color-primary--hover;}
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: underline;
  box-shadow: none
}

.btn-link.disabled,
.btn-link:disabled {
  color: $color-text--secondary;
  pointer-events: none
}

.btn-group-toggle label {cursor: pointer;}

.dropdown-menu {
  @include h5;
  z-index: 1000;
  color: $color-text--primary;
  background-color: white;
  border: 0;
  border-radius: 3px;
}

.dropdown-divider {
  margin: 8px 0;
  border-color: $color-border
}

.dropdown-item {
  padding: 4px 16px;
  color: $color-text--primary;
  font-weight: 500;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: $color-primary;
  background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $color-primary--hover;
  background-color: transparent;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: $color-text--primary;
  opacity: .64;
  background-color: transparent;
}

.dropdown-header {
  @include h6;
  padding: 8px 16px;
  color: $color-text--secondary;
  background-color: transparent;
}

.dropdown-item-text {
  padding: 4px 16px;
  color: $color-text--primary;
}

.nav-link {padding: 4px 16px;}

.flex-column .nav-link {padding: 8px 16px;}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: $color-primary;
}

.nav > li.disabled > a {
  color: rgba(50, 50, 80, .24);
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: $color-background;
  border-color: $color-primary;;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 0;
  box-shadow: inset 0 -1px $color-border;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 16px;
}

.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
  padding: 8px;
  color: $color-text--primary;

  svg {
    @include transition();
    fill: $color-text--primary;
  }
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: $color-primary;
  border: 0;

  svg {fill: $color-primary;}
}

.nav-tabs .nav-link.disabled {
  color: $color-text--secondary;
  background-color: transparent;

  svg {fill: $color-text--secondary;}
}

.nav-tabs .nav-item.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: $color-primary;
  border: 0;
  box-shadow: inset 0 -3px $color-primary;

  svg {fill: $color-primary;}

  .nav-link { color: $color-primary; }
}

.nav-tabs-dark {
  background-color: $blue-grey-900;
  border-bottom: 0;
}

.nav-tabs-dark .nav-link {
  color: $blue-grey-500;

  svg {fill: $blue-grey-500;}
}

.nav-tabs-dark .nav-link:focus,
.nav-tabs-dark .nav-link:hover {
  color: white;

  svg {fill: white;}
}

.nav-tabs-dark .nav-link.disabled {
  opacity: .6;
  color: $blue-grey-500;
  border-color: transparent;

  svg {fill: $blue-grey-500;}
}

.nav-tabs-dark .nav-item.show .nav-link,
.nav-tabs-dark .nav-link.active {
  color: white;
  box-shadow: inset 0 -3px white;
  background-color: transparent;

  svg {fill: white;}
}

.navbar-toggler {
  position: relative;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  border: 0;
  border-radius: 3px;

  @media ($lg-up) {display: none;}
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  @include transition();
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: $color-primary;
}

.navbar-toggler:hover .icon-bar {background-color: $color-primary--hover;}

.navbar-toggler .icon-bar + .icon-bar {margin-top: 4px;}

.navbar-toggler:not(.collapsed) .icon-bar {
  display: none;

  &:first-child,
  &:last-child {display: block;}

  &:first-child {transform: rotate(45deg) translate(2px, 2px);}

  &:last-child {transform: rotate(-45deg) translate(2px, -2px);}
}

.navbar {padding: 6px 16px;}

.navbar .navbar-nav .nav-link { @media ($lg-down) {@include h6;} }

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-brand {color: $color-text--primary;}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: $color-primary;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-text--primary;
  font-weight: 700; -webkit-font-smoothing: antialiased;

  svg {fill: $color-text--primary;}
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $color-primary;

  svg {fill: $color-primary;}
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: $color-text--primary;
  opacity: .64;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  position: relative;
  color: $color-primary;
}

.alert {
  padding: 16px;
  margin: 16px 0 0 0;
  border: none;
  border-radius: 3px;
  color: white;

  @media ($sm-down) {@include h6;}

  .alert-link {
    color: $color-primary;
    font-weight: 400;
    text-decoration: underline;
  }

  .title {font-weight: 700; -webkit-font-smoothing: antialiased;}
}

.alert-center {text-align: center;}

.alert-bottom {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  -ms-flex-pack: center;
  justify-content: center;
}

.alert-default {
  color: $color-text--primary;
  background-color: $blue-grey-50;
}

.alert-success {
  color: $green-700;
  background-color: $green-50;

  .alert-link {color: $green-700;}
}

.alert-info {
  color: $purple-700;
  background-color: $purple-50;

  .alert-link {color: $purple-700;}
}

.alert-warning {
  color: $deep-orange-700;
  background-color: $deep-orange-50;

  .alert-link {color: $deep-orange-700;}
}

.alert-danger {
  color: $red-700;
  background-color: $red-50;

  .alert-link {color: $red-700;}
}

.tooltip {
  @include font-default;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: $color-text--primary;
}