@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,900|Roboto+Mono:100,300,400,500,700|Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,900|Roboto+Mono:100,300,400,500,700|Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Thin-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-ThinItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ThinItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLight-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLight-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-Light-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Light-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-LightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-LightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Regular.woff2") format("woff2"), url("fonts/Inter/Inter-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Italic.woff2") format("woff2"), url("fonts/Inter/Inter-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-Medium.woff2") format("woff2"), url("fonts/Inter/Inter-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-MediumItalic.woff2") format("woff2"), url("fonts/Inter/Inter-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-Bold.woff2") format("woff2"), url("fonts/Inter/Inter-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-BoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBold.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-Black.woff2") format("woff2"), url("fonts/Inter/Inter-Black.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-BlackItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BlackItalic.woff") format("woff"); }
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Inter/Inter-upright.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("fonts/Inter/Inter-italic.var.woff2") format("woff2"); }
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("fonts/Inter/Inter.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Thin-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-ThinItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ThinItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLight-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLight-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-Light-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Light-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-LightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-LightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Regular.woff2") format("woff2"), url("fonts/Inter/Inter-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Italic.woff2") format("woff2"), url("fonts/Inter/Inter-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-Medium.woff2") format("woff2"), url("fonts/Inter/Inter-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-MediumItalic.woff2") format("woff2"), url("fonts/Inter/Inter-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-Bold.woff2") format("woff2"), url("fonts/Inter/Inter-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-BoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBold.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-Black.woff2") format("woff2"), url("fonts/Inter/Inter-Black.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-BlackItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BlackItalic.woff") format("woff"); }
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Inter/Inter-upright.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("fonts/Inter/Inter-italic.var.woff2") format("woff2"); }
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("fonts/Inter/Inter.var.woff2") format("woff2"); }
body {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  font-size: 16px;
  color: #364866;
  background-color: white;
  line-height: 1.4; }

a {
  transition-duration: 0.16s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  color: #0078FF;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #0053F4; }

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid #D9E4F1; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

h1, .h1 {
  font-size: 64px;
  line-height: 1.4;
  word-spacing: -4px; }

h2, .h2 {
  font-size: 48px;
  line-height: 1.4;
  word-spacing: -2px; }

h3, .h3 {
  font-size: 36px;
  line-height: 1.4;
  word-spacing: -2px; }

h4, .h4 {
  font-size: 24px;
  line-height: 1.8; }

h5, .h5 {
  font-size: 20px;
  line-height: 1.8; }

h6, .h6 {
  font-size: 16px;
  line-height: 1.8; }

p {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  font-size: 20px;
  line-height: 1.8;
  word-spacing: -1px; }
  p:last-child {
    margin-bottom: 0; }

sup {
  top: -.4em; }

.text-muted {
  color: #B6C1DB !important; }

code,
kbd,
pre,
samp {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif; }

code {
  margin: 0 2px 0 0;
  padding: 2px 6px;
  color: #364866;
  background-color: #F4F4FA;
  border: 1px solid #D9E4F1;
  border-radius: 3px; }

pre {
  padding: 12px 16px;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  color: #233552;
  background-color: #F4F4FA;
  border: 1px solid #D9E4F1;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none; }

blockquote {
  padding: 16px;
  border-left: 3px solid #D9E4F1; }
  blockquote small {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-style: italic; }
    blockquote small:before {
      content: '―';
      padding-right: 8px; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 576px; } }

.container-md {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 768px) {
    .container-md {
      max-width: 768px; } }

.container-lg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 992px) {
    .container-lg {
      max-width: 992px; } }

.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1200px) {
    .container-xl {
      max-width: 1200px; } }

.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1600px) {
    .container-xxl {
      max-width: 1600px; } }

.container-xxxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 2000px) {
    .container-xxxl {
      max-width: 2000px; } }

.row {
  margin-left: -24px;
  margin-right: -24px; }
  @media (min-width: 1600px) {
    .row {
      margin-left: -40px;
      margin-right: -40px; } }

.col {
  padding-right: 24px;
  padding-left: 24px; }
  @media (min-width: 1600px) {
    .col {
      padding-left: 40px;
      padding-right: 40px; } }

body {
  background-color: white;
  word-break: keep-all; }

footer {
  padding: 16px 0;
  margin-top: 120px; }
  footer a, footer h6 {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700; }
    @media (max-width: 991px) {
      footer a, footer h6 {
        font-size: 13px;
        line-height: 1.8; } }
  footer a {
    color: #364866; }
    footer a:hover {
      color: #0078FF; }
  footer .text-signed {
    color: #B6C1DB;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    float: right; }

.nav-application {
  padding: 16px 0;
  display: flex; }
  @media (max-width: 991px) {
    .nav-application {
      padding: 8px 0; } }
  .nav-application .nav-item {
    font-size: 20px;
    line-height: 1.8;
    display: inline-block;
    font-weight: 700;
    color: #364866; }
    @media (max-width: 991px) {
      .nav-application .nav-item {
        font-size: 16px;
        line-height: 1.8; } }
    .nav-application .nav-item:hover {
      color: #0078FF; }
  .nav-application .nav-home {
    margin-right: auto; }
  .nav-application .nav-menu {
    padding-left: 24px; }

.label {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #B6C1DB;
  margin-bottom: 8px; }
  @media (max-width: 991px) {
    .label {
      font-size: 16px;
      line-height: 1.8; } }

.recent-posts {
  padding-top: 64px; }
  .recent-posts a {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline;
    font-weight: 500;
    line-height: 1.4;
    color: #364866; }
    @media (min-width: 992px) {
      .recent-posts a {
        color: #364866;
        box-shadow: inset 0 0.55em white, inset 0 0.65em #D9E4F1; }
        .recent-posts a:hover {
          color: #0078FF;
          box-shadow: inset 0 0 white, inset 0 0.1em #0078FF; } }
    @media (max-width: 991px) {
      .recent-posts a {
        display: inline-block;
        color: #0078FF; }
        .recent-posts a:hover {
          color: #0053F4; } }
    @media (max-width: 1199px) {
      .recent-posts a {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px; } }
    @media (min-width: 992px) {
      .recent-posts a:after {
        content: '';
        display: block;
        height: 16px; } }
    @media (max-width: 991px) {
      .recent-posts a {
        font-size: 20px;
        line-height: 1.8;
        display: block;
        margin-top: 16px;
        line-height: 1.4; } }

.list-projects {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-projects .project-item {
    counter-increment: item-counter;
    padding-top: 160px; }
    @media (max-width: 991px) {
      .list-projects .project-item {
        padding-top: 80px; } }
  .list-projects .number ::before {
    content: "0" counter(item-counter) ". ";
    padding-right: 2px; }
  .list-projects a {
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline; }
    @media (min-width: 992px) {
      .list-projects a {
        color: #364866;
        box-shadow: inset 0 0.55em white, inset 0 0.65em #D9E4F1; }
        .list-projects a:hover {
          color: #0078FF;
          box-shadow: inset 0 0 white, inset 0 0.1em #0078FF; } }
    @media (max-width: 991px) {
      .list-projects a {
        display: inline-block;
        color: #0078FF; }
        .list-projects a:hover {
          color: #0053F4; } }
  .list-projects p {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    margin: 0 0 40px 0;
    font-weight: 500;
    line-height: 1.8; }
    @media (max-width: 1199px) {
      .list-projects p {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px;
        line-height: 1.8; } }
    @media (max-width: 991px) {
      .list-projects p {
        font-size: 20px;
        line-height: 1.8;
        word-spacing: -1px; } }
  .list-projects img {
    margin: 0 0 24px 0;
    width: 100%; }

.about--hero {
  padding-top: 64px; }
  .about--hero p {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    font-weight: 500;
    line-height: 1.6; }
    @media (max-width: 991px) {
      .about--hero p {
        font-size: 20px;
        line-height: 1.8;
        line-height: 1.8; } }
    .about--hero p + .introduce {
      margin-top: 40px; }
  .about--hero a {
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline; }
    @media (min-width: 992px) {
      .about--hero a {
        color: #364866;
        box-shadow: inset 0 0.55em white, inset 0 0.65em #D9E4F1; }
        .about--hero a:hover {
          color: #0078FF;
          box-shadow: inset 0 0 white, inset 0 0.1em #0078FF; } }
    @media (max-width: 991px) {
      .about--hero a {
        display: inline-block;
        color: #0078FF; }
        .about--hero a:hover {
          color: #0053F4; } }
  @media (max-width: 1599px) {
    .about--hero br {
      display: none; } }

.about--items {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 120px; }
  .about--items li {
    font-size: 20px;
    line-height: 1.8;
    line-height: 2.4;
    font-weight: 500; }
    @media (max-width: 991px) {
      .about--items li {
        font-size: 16px;
        line-height: 1.8;
        position: relative;
        line-height: 1.4;
        padding-left: 14px; }
        .about--items li:before {
          content: '';
          width: 6px;
          height: 6px;
          position: absolute;
          border-radius: 100px;
          border: 1px solid #364866;
          left: 0;
          top: 12px; }
        .about--items li sup {
          font-size: 16px;
          line-height: 1.8;
          display: block;
          margin-bottom: 8px;
          top: unset;
          color: #B6C1DB;
          font-weight: 400; } }

/*# sourceMappingURL=application.css.map */
