@import "mixin";
@import "bootstrab-theme";

body {
  background-color: $color-background;
  word-break: keep-all;
}

footer {
  @include h6;
  font-weight: 700;
  border-top: 1px solid $color-border;
  padding: 16px 0;
  margin-top: 120px;

  a {
    color: $color-text--primary;
    &:hover {
      color: $color-primary;
    }
  }

  .text-signed {
    color: $blue-grey-200;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    float: right;
  }
}

.nav-application {
  padding: 16px 0;
  display: flex;

  .nav-item {
    @include h5;
    display: inline-block;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    color: $color-text--primary;

    &:hover {
      color: $color-primary;
    }
  }

  .nav-home {
    margin-right: auto;
  }

  .nav-menu {
    padding-left: 24px;

  }
}

.label {
  @include h5;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: $color-text--secondary;
}

.recent-posts {
  padding-top: 64px;

  a {
    @include h2;
    @include linkable-inline;
    margin-top: 16px;
    display: inline-block;
    font-weight: 500;
    line-height: 1.4;
    color: $color-text--primary;
  }
}

.list-projects {
  @include list-style-none;

  .project-item {
    counter-increment: item-counter;
    padding-top: 160px;
  }

  .number::before {
    content: "0" counter(item-counter) ". ";
    padding-right: 4px;
    margin-bottom: 8px;
  }

  a {
    @include linkable-inline;
  }

  p, img {
    margin: 0 0 24px 0;
  }

  p {
    @include h2;
    font-weight: 500;
    line-height: 1.8;
  }

  img {
    width: 100%;
  }

}

.about--hero {
  @include margin-top--common;

  p {
    @include h2;
    font-weight: 500;
    line-height: 1.6;

    & + .introduce {margin-top: 40px;}
  }

  a {
    @include linkable-inline;
  }
  
  br { @media ($xxl-down) {display: none;} }
}

.about--items {
  @include list-style-none;
  margin-top: 120px;

  li {
    @include h5;
    line-height: 2.4;
    font-weight: 500;
  }
}




