@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,900|Roboto+Mono:100,300,400,500,700|Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,900|Roboto+Mono:100,300,400,500,700|Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Thin-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-ThinItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ThinItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLight-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLight-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-Light-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Light-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-LightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-LightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Regular.woff2") format("woff2"), url("fonts/Inter/Inter-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Italic.woff2") format("woff2"), url("fonts/Inter/Inter-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-Medium.woff2") format("woff2"), url("fonts/Inter/Inter-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-MediumItalic.woff2") format("woff2"), url("fonts/Inter/Inter-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-Bold.woff2") format("woff2"), url("fonts/Inter/Inter-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-BoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBold.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-Black.woff2") format("woff2"), url("fonts/Inter/Inter-Black.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-BlackItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BlackItalic.woff") format("woff"); }
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Inter/Inter-upright.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("fonts/Inter/Inter-italic.var.woff2") format("woff2"); }
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("fonts/Inter/Inter.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Thin-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter/Inter-ThinItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ThinItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLight-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLight-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraLightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-Light-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-Light-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter/Inter-LightItalic-BETA.woff2") format("woff2"), url("fonts/Inter/Inter-LightItalic-BETA.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Regular.woff2") format("woff2"), url("fonts/Inter/Inter-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter/Inter-Italic.woff2") format("woff2"), url("fonts/Inter/Inter-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-Medium.woff2") format("woff2"), url("fonts/Inter/Inter-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter/Inter-MediumItalic.woff2") format("woff2"), url("fonts/Inter/Inter-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-SemiBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-Bold.woff2") format("woff2"), url("fonts/Inter/Inter-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter/Inter-BoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBold.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-Black.woff2") format("woff2"), url("fonts/Inter/Inter-Black.woff") format("woff"); }
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter/Inter-BlackItalic.woff2") format("woff2"), url("fonts/Inter/Inter-BlackItalic.woff") format("woff"); }
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Inter/Inter-upright.var.woff2") format("woff2"); }
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("fonts/Inter/Inter-italic.var.woff2") format("woff2"); }
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("fonts/Inter/Inter.var.woff2") format("woff2"); }
body {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  font-size: 16px;
  color: #364866;
  background-color: white;
  line-height: 1.4; }

a {
  transition-duration: 0.16s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  color: #0078FF;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #0053F4; }

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid #D9E4F1; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

h1, .h1 {
  font-size: 64px;
  line-height: 1.4;
  word-spacing: -4px; }

h2, .h2 {
  font-size: 48px;
  line-height: 1.4;
  word-spacing: -2px; }

h3, .h3 {
  font-size: 36px;
  line-height: 1.4;
  word-spacing: -2px; }

h4, .h4 {
  font-size: 24px;
  line-height: 1.4; }

h5, .h5 {
  font-size: 20px;
  line-height: 1.6; }

h6, .h6 {
  font-size: 16px;
  line-height: 1.8; }

p {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  font-size: 20px;
  line-height: 1.9;
  word-spacing: -1px; }
  p:last-child {
    margin-bottom: 0; }

sup {
  top: -.4em; }

.text-muted {
  color: #B6C1DB !important; }

code,
kbd,
pre,
samp {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif; }

code {
  margin: 0 2px 0 0;
  padding: 2px 6px;
  color: #364866;
  background-color: #F4F4FA;
  border: 1px solid #D9E4F1;
  border-radius: 3px; }

pre {
  padding: 12px 16px;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  color: #233552;
  background-color: #F4F4FA;
  border: 1px solid #D9E4F1;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none; }

blockquote {
  padding: 16px;
  border-left: 3px solid #D9E4F1; }
  blockquote small {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-style: italic; }
    blockquote small:before {
      content: '―';
      padding-right: 8px; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 576px; } }

.container-md {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 768px) {
    .container-md {
      max-width: 768px; } }

.container-lg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 992px) {
    .container-lg {
      max-width: 992px; } }

.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1200px) {
    .container-xl {
      max-width: 1200px; } }

.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1600px) {
    .container-xxl {
      max-width: 1600px; } }

.container-xxxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 2000px) {
    .container-xxxl {
      max-width: 2000px; } }

.row {
  margin-left: -24px;
  margin-right: -24px; }
  @media (min-width: 1600px) {
    .row {
      margin-left: -40px;
      margin-right: -40px; } }

.col {
  padding-right: 24px;
  padding-left: 24px; }
  @media (min-width: 1600px) {
    .col {
      padding-left: 40px;
      padding-right: 40px; } }

body {
  background-color: #FEFDFC;
  word-break: keep-all;
  padding: 0;
  margin: 0; }

footer {
  padding: 16px 0;
  margin-top: 120px; }
  footer a, footer h6 {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700; }
    @media (max-width: 991px) {
      footer a, footer h6 {
        font-size: 13px;
        line-height: 1.8; } }
  footer a {
    color: #364866; }
    footer a:hover {
      color: #0078FF; }
  footer .text-signed {
    color: #B6C1DB;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    float: right; }

.nav-application {
  padding: 16px 0;
  display: flex; }
  @media (max-width: 991px) {
    .nav-application {
      padding: 8px 0; } }
  .nav-application .nav-item {
    font-size: 20px;
    line-height: 1.6;
    display: inline-block;
    font-weight: 700;
    color: #364866; }
    @media (max-width: 991px) {
      .nav-application .nav-item {
        font-size: 16px;
        line-height: 1.8; } }
    .nav-application .nav-item:hover {
      color: #0078FF; }
    .nav-application .nav-item.btn-post-new {
      color: #0078FF; }
      .nav-application .nav-item.btn-post-new:hover {
        color: #0053F4; }
  .nav-application .nav-home {
    margin-right: auto; }
  .nav-application .nav-menu {
    padding-left: 24px; }
    @media (max-width: 991px) {
      .nav-application .nav-menu {
        padding-left: 16px; } }

.label {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #B6C1DB;
  margin-bottom: 8px; }
  @media (max-width: 991px) {
    .label {
      font-size: 16px;
      line-height: 1.8; } }

.markdown .video-frame,
.markdown img {
  width: 100%;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .markdown .video-frame:first-child,
  .markdown img:first-child {
    margin-top: 0; }
.markdown video {
  width: 100%;
  margin: 40px 0; }
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
  margin-bottom: 16px; }
.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
  margin-top: 80px; }
  .markdown h1:first-child, .markdown h2:first-child, .markdown h3:first-child, .markdown h4:first-child {
    margin-top: 0; }
  .markdown h1 + h1, .markdown h1 + h2, .markdown h1 + h3, .markdown h1 + h4, .markdown h2 + h1, .markdown h2 + h2, .markdown h2 + h3, .markdown h2 + h4, .markdown h3 + h1, .markdown h3 + h2, .markdown h3 + h3, .markdown h3 + h4, .markdown h4 + h1, .markdown h4 + h2, .markdown h4 + h3, .markdown h4 + h4 {
    margin-top: 24px; }
@media (max-width: 991px) {
  .markdown h1 {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px; } }
@media (max-width: 991px) {
  .markdown h2 {
    font-size: 36px;
    line-height: 1.4;
    word-spacing: -2px; } }
@media (max-width: 991px) {
  .markdown h3 {
    font-size: 24px;
    line-height: 1.4; } }
@media (max-width: 991px) {
  .markdown h4 {
    font-size: 20px;
    line-height: 1.6; } }
.markdown h5 {
  font-size: 20px;
  line-height: 1.6;
  line-height: 1.4; }
  @media (max-width: 991px) {
    .markdown h5 {
      font-size: 16px;
      line-height: 1.8; } }
@media (max-width: 991px) {
  .markdown h6 {
    font-size: 13px;
    line-height: 1.8; } }
.markdown p, .markdown ul, .markdown ol, .markdown pre {
  margin-bottom: 40px; }
.markdown p, .markdown li {
  font-size: 20px;
  line-height: 1.9;
  word-spacing: -1px; }
  @media (max-width: 991px) {
    .markdown p, .markdown li {
      font-size: 16px;
      line-height: 1.8; } }
.markdown ul ul, .markdown ul ol, .markdown ul li + li, .markdown ol ul, .markdown ol ol, .markdown ol li + li {
  margin-top: 8px;
  margin-bottom: 0; }
.markdown ul p, .markdown ol p {
  margin-bottom: 0; }
.markdown blockquote {
  font-size: 20px;
  line-height: 1.6;
  border-color: #D9E4F1; }
  .markdown blockquote p {
    margin-bottom: 0; }
  .markdown blockquote blockquote {
    margin: 16px 0 0 0; }
  @media (max-width: 991px) {
    .markdown blockquote {
      font-size: 16px;
      line-height: 1.8; } }
.markdown code, .markdown pre {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;
  background-color: #EDEEF7;
  border: 0; }
  .markdown code code, .markdown pre code {
    line-height: 1.4;
    display: inline-block; }
@media (max-width: 991px) {
  .markdown pre {
    border-radius: 0;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px; } }
.markdown p:first-child, .markdown p:first-child h1, .markdown p:first-child h2, .markdown p:first-child h3, .markdown p:first-child h4, .markdown p:first-child h5, .markdown p:first-child h6, .markdown p:first-child p, .markdown p:first-child blockquote,
.markdown p:first-child ul, .markdown p:first-child ol, .markdown p:first-child pre, .markdown p:first-child img, .markdown hr:first-child, .markdown hr:first-child h1, .markdown hr:first-child h2, .markdown hr:first-child h3, .markdown hr:first-child h4, .markdown hr:first-child h5, .markdown hr:first-child h6, .markdown hr:first-child p, .markdown hr:first-child blockquote,
.markdown hr:first-child ul, .markdown hr:first-child ol, .markdown hr:first-child pre, .markdown hr:first-child img {
  margin-top: 0; }

.recent-posts,
.about--hero,
.posts,
.post-detail {
  animation: fadeIn 1s ease-in-out 0.6s backwards; }
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
footer,
.list-projects,
.about--items,
.hyperlink-resume {
  animation: fadeIn 1s ease-in-out 1.2s backwards; }
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
.recent-posts {
  padding-top: 64px; }
  .recent-posts .posts {
    list-style: none;
    padding: 0;
    margin: 0; }
  .recent-posts li {
    position: relative; }
    .recent-posts li:after {
      font-size: 24px;
      line-height: 1.4;
      content: '↗';
      position: absolute;
      color: #C9D3E7;
      bottom: 24px;
      padding-left: 2px; }
      @media (max-width: 1199px) {
        .recent-posts li:after {
          bottom: 10px; } }
      @media (max-width: 991px) {
        .recent-posts li:after {
          display: none; } }
  .recent-posts a {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline;
    color: #364866;
    box-shadow: 0 3px #0078FF;
    font-weight: 500;
    line-height: 1.4;
    color: #364866; }
    .recent-posts a:hover {
      color: #0078FF;
      box-shadow: 0 0 #0078FF; }
    @media (max-width: 991px) {
      .recent-posts a {
        box-shadow: 0 calc(3px - 1px) #0078FF; } }
    .recent-posts a:before {
      content: '';
      display: block;
      height: 16px; }
    @media (max-width: 1199px) {
      .recent-posts a {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px; } }
    @media (max-width: 991px) {
      .recent-posts a {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 16px;
        line-height: 1.4; } }

.list-recent-posts {
  list-style: none;
  padding: 0;
  margin: 0; }

.list-projects {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-projects .project-item {
    counter-increment: item-counter;
    padding-top: 160px; }
    @media (max-width: 991px) {
      .list-projects .project-item {
        padding-top: 80px; } }
    .list-projects .project-item#project_programmers {
      padding-top: 30vh; }
      @media (max-height: 920px) {
        .list-projects .project-item#project_programmers {
          padding-top: 160px; } }
  .list-projects .number {
    position: sticky;
    top: 0; }
    .list-projects .number::before {
      content: "0" counter(item-counter) ". ";
      padding-right: 2px; }
  .list-projects .content p {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    margin: 0 0 40px 0;
    font-weight: 500;
    line-height: 1.8; }
    @media (max-width: 1199px) {
      .list-projects .content p {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px;
        line-height: 1.8; } }
    @media (max-width: 991px) {
      .list-projects .content p {
        font-size: 20px;
        line-height: 1.9;
        word-spacing: -1px; } }
    .list-projects .content p a {
      transition-duration: 0.16s;
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-delay: initial;
      position: relative;
      display: inline;
      color: #364866;
      box-shadow: 0 3px #0078FF; }
      .list-projects .content p a:hover {
        color: #0078FF;
        box-shadow: 0 0 #0078FF; }
      @media (max-width: 991px) {
        .list-projects .content p a {
          box-shadow: 0 calc(3px - 1px) #0078FF; } }
  .list-projects .content .video-frame,
  .list-projects .content img, .list-projects .content video {
    width: 100%;
    margin: 0 0 24px 0; }
    .list-projects .content .video-frame:focus,
    .list-projects .content img:focus, .list-projects .content video:focus {
      outline: none;
      box-shadow: 0 0 0 4px #BBCAFB; }
    @media (max-width: 991px) {
      .list-projects .content .video-frame,
      .list-projects .content img, .list-projects .content video {
        margin-left: -24px;
        margin-bottom: 8px;
        width: calc(100% + 48px); } }
  .list-projects .content a {
    word-break: keep-all; }
  .list-projects .content .rmmbrit-gif-wrap {
    padding: 80px 240px;
    background-color: #B8CADB;
    margin: 0 0 24px 0;
    width: 100%; }
    @media (max-width: 991px) {
      .list-projects .content .rmmbrit-gif-wrap {
        padding: 40px 12vw;
        margin-left: -24px;
        margin-bottom: 8px;
        width: calc(100% + 48px); } }
    .list-projects .content .rmmbrit-gif-wrap img {
      box-shadow: 40px 60px 80px rgba(35, 36, 102, 0.12); }

.list-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  margin-top: 40px; }
  @media (max-width: 991px) {
    .list-links {
      margin-top: 24px; } }
  .list-links .list-link-item {
    font-size: 20px;
    line-height: 1.6;
    display: inline-block;
    vertical-align: top;
    max-width: 240px; }
    .list-links .list-link-item + .list-link-item {
      margin-left: 24px; }
      @media (max-width: 991px) {
        .list-links .list-link-item + .list-link-item {
          margin-left: 8px; } }
    .list-links .list-link-item a {
      display: block;
      padding: 24px 32px 32px 32px;
      border: 1px solid #D9E4F1;
      color: #364866;
      border-radius: 3px;
      text-align: center; }
      @media (max-width: 991px) {
        .list-links .list-link-item a {
          padding: 16px 24px; } }
      .list-links .list-link-item a:hover {
        background-color: #F4F4FA; }
    .list-links .list-link-item .thumb {
      width: 160px;
      margin-bottom: 0; }
      @media (max-width: 991px) {
        .list-links .list-link-item .thumb {
          width: 80px; } }
    @media (max-width: 991px) {
      .list-links .list-link-item h6 {
        font-size: 13px;
        line-height: 1.8; } }
    .list-links .list-link-item h6::after {
      content: ' ↗'; }

.posts {
  padding-top: 64px; }

.list-posts {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-posts li {
    position: relative;
    margin-bottom: 16px; }
    .list-posts li:after {
      font-size: 24px;
      line-height: 1.4;
      content: '↗';
      position: absolute;
      color: #C9D3E7;
      bottom: 24px;
      padding-left: 2px; }
      @media (max-width: 1199px) {
        .list-posts li:after {
          bottom: 10px; } }
      @media (max-width: 991px) {
        .list-posts li:after {
          display: none; } }
  .list-posts a {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline;
    color: #364866;
    box-shadow: 0 3px #C9D3E7;
    font-weight: 500;
    line-height: 1.4;
    position: relative;
    word-spacing: -2px; }
    .list-posts a:hover {
      color: #0078FF;
      box-shadow: 0 0 #C9D3E7; }
    @media (max-width: 991px) {
      .list-posts a {
        box-shadow: 0 calc(3px - 1px) #C9D3E7; } }
    .list-posts a:before {
      content: '';
      display: block;
      height: 16px; }
    @media (max-width: 1199px) {
      .list-posts a {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px; } }
    @media (max-width: 991px) {
      .list-posts a {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 16px;
        line-height: 1.4;
        color: #364866; }
        .list-posts a:hover {
          color: #0078FF; } }

.post-detail {
  padding-top: 64px;
  max-width: 767px;
  margin: 0 auto; }
  .post-detail .title {
    line-height: 1.3; }
    @media (max-width: 991px) {
      .post-detail .title {
        font-size: 36px;
        line-height: 1.4;
        word-spacing: -2px; } }
  .post-detail .date {
    margin-top: 16px; }
    @media (max-width: 991px) {
      .post-detail .date {
        font-size: 13px;
        line-height: 1.8; } }
  .post-detail .btn-edit {
    padding: 0 16px; }
  .post-detail .markdown {
    padding-top: 64px; }
    @media (max-width: 991px) {
      .post-detail .markdown .video-frame,
      .post-detail .markdown img {
        margin-left: -24px;
        width: calc(100% + 48px);
        border-radius: 0; } }
    @media (min-width: 992px) {
      .post-detail .markdown .video-frame,
      .post-detail .markdown img {
        margin-left: -80px;
        width: calc(100% + 160px); } }
    @media (min-width: 1200px) {
      .post-detail .markdown .video-frame,
      .post-detail .markdown img {
        margin-left: -200px;
        width: calc(100% + 400px);
        margin-top: 56px;
        margin-bottom: 56px; } }
    @media (min-width: 1600px) {
      .post-detail .markdown .video-frame,
      .post-detail .markdown img {
        margin-left: -456px;
        width: calc(100% + 912px);
        margin-top: 64px;
        margin-bottom: 64px; } }
    @media (max-width: 991px) {
      .post-detail .markdown .video-frame {
        padding-bottom: 60.8%; } }
    @media (min-width: 992px) {
      .post-detail .markdown .video-frame {
        padding-bottom: 68.8%; } }
    @media (min-width: 1200px) {
      .post-detail .markdown .video-frame {
        padding-bottom: 86.5%; } }
    @media (min-width: 1600px) {
      .post-detail .markdown .video-frame {
        padding-bottom: 124.4%; } }

.about--hero {
  margin-top: 120px; }
  @media (max-width: 991px) {
    .about--hero {
      margin-top: 104px; } }
  .about--hero p {
    font-size: 48px;
    line-height: 1.4;
    word-spacing: -2px;
    font-weight: 500;
    line-height: 1.6; }
    @media (max-width: 991px) {
      .about--hero p {
        font-size: 20px;
        line-height: 1.6;
        line-height: 1.8; } }
  .about--hero a {
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline;
    color: #364866;
    box-shadow: 0 3px #0078FF; }
    .about--hero a:hover {
      color: #0078FF;
      box-shadow: 0 0 #0078FF; }
    @media (max-width: 991px) {
      .about--hero a {
        box-shadow: 0 calc(3px - 1px) #0078FF; } }
  @media (max-width: 1599px) {
    .about--hero br.xxl-down {
      display: none; } }

.about--items {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 80px; }
  @media (max-width: 991px) {
    .about--items {
      margin-top: 40px; } }
  .about--items li {
    font-size: 20px;
    line-height: 1.6;
    line-height: 2.4;
    font-weight: 500; }
    @media (max-width: 991px) {
      .about--items li {
        font-size: 16px;
        line-height: 1.8;
        position: relative;
        line-height: 1.4;
        padding-left: 14px; }
        .about--items li:before {
          content: '';
          width: 6px;
          height: 6px;
          position: absolute;
          border-radius: 100px;
          border: 1px solid #364866;
          left: 0;
          top: 12px; }
        .about--items li sup {
          font-size: 16px;
          line-height: 1.8;
          display: block;
          margin-bottom: 8px;
          top: unset;
          color: #B6C1DB;
          font-weight: 400; } }

.hyperlink-resume {
  padding-top: 64px; }
  @media (max-width: 991px) {
    .hyperlink-resume {
      font-size: 16px;
      line-height: 1.8; } }
  .hyperlink-resume a {
    transition-duration: 0.16s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    position: relative;
    display: inline;
    color: #364866;
    box-shadow: 0 3px #0078FF; }
    .hyperlink-resume a:hover {
      color: #0078FF;
      box-shadow: 0 0 #0078FF; }
    @media (max-width: 991px) {
      .hyperlink-resume a {
        box-shadow: 0 calc(3px - 1px) #0078FF; } }

.video-frame {
  position: relative;
  padding-bottom: 57%; }
  .video-frame iframe {
    position: absolute;
    width: 100%;
    height: 100%; }

.animated-fade-in {
  animation: fadeIn 1s ease-in-out 0.6s backwards; }
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
.container-work-details footer,
.container-work-details .col-top-cover,
.container-work-details .col-cover,
.container-work-details .col-header,
.container-work-details .col-description,
.container-work-details .col-visuals {
  font-size: 20px;
  line-height: 1.6;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 991px) {
    .container-work-details footer,
    .container-work-details .col-top-cover,
    .container-work-details .col-cover,
    .container-work-details .col-header,
    .container-work-details .col-description,
    .container-work-details .col-visuals {
      padding-left: 16px;
      padding-right: 16px; } }
.container-work-details section {
  font-size: 0;
  position: relative; }
  .container-work-details section .col-cover {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    background-color: #233552;
    color: white;
    padding-top: 40px; }
    .container-work-details section .col-cover .title {
      line-height: 1.4; }
    .container-work-details section .col-cover .sub-title {
      margin-top: 24px; }
    .container-work-details section .col-cover .list-index {
      animation: fadeIn 1s ease-in-out 3s backwards;
      margin-top: 40px;
      padding-left: 24px; }
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
      .container-work-details section .col-cover .list-index li {
        margin-bottom: 8px; }
    .container-work-details section .col-cover .arrow-down {
      animation: fadeIn 1s ease-in-out 3s backwards;
      position: absolute;
      bottom: 40px;
      font-weight: 400;
      box-shadow: inset 0 0 0 3px #FA6B6B;
      line-height: 50px;
      text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      overflow: hidden; }
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
      .container-work-details section .col-cover .arrow-down a {
        display: block;
        transition: .6s;
        display: block;
        color: white;
        box-shadow: inset 0 0 #FA6B6B; }
        .container-work-details section .col-cover .arrow-down a:hover {
          box-shadow: inset 0 80px #FA6B6B; }
  .container-work-details section .col-description,
  .container-work-details section .col-visuals {
    display: inline-block;
    vertical-align: top;
    padding-top: 64px;
    padding-bottom: 64px; }
    @media (max-width: 991px) {
      .container-work-details section .col-description,
      .container-work-details section .col-visuals {
        padding-top: 24px;
        padding-bottom: 24px; } }
  @media (min-width: 1200px) {
    .container-work-details section .col-description {
      position: sticky;
      top: 0;
      width: 560px;
      padding-right: 40px; } }
  @media (max-width: 1599px) {
    .container-work-details section .col-description {
      width: 440px; } }
  @media (max-width: 1199px) {
    .container-work-details section .col-description {
      width: 100%; } }
  @media (min-width: 1200px) {
    .container-work-details section .col-visuals {
      width: calc(100% - 560px); } }
  @media (max-width: 1599px) {
    .container-work-details section .col-visuals {
      width: calc(100% - 440px); } }
  @media (max-width: 1199px) {
    .container-work-details section .col-visuals {
      width: 100%; } }
  .container-work-details section .header-title {
    padding: 120px 0 40px 0;
    border-bottom: 1px solid #D9E4F1; }
  .container-work-details section .description-title {
    margin-bottom: 24px; }
  .container-work-details section .underline-red {
    animation: bottomUp 1s ease-in-out 2s forwards; }
@keyframes bottomUp {
  from {
    box-shadow: inset 0 0 #FA6B6B; }
  to {
    box-shadow: inset 0 -4px #FA6B6B; } }
.container-work-details .nav-index {
  list-style: none;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #233552; }
  @media (max-width: 991px) {
    .container-work-details .nav-index {
      display: none; } }
  .container-work-details .nav-index .index-item {
    font-size: 13px;
    line-height: 1.8; }
    .container-work-details .nav-index .index-item a {
      color: #B6C1DB;
      opacity: .6; }
    .container-work-details .nav-index .index-item:hover a {
      opacity: 1;
      color: white; }
    .container-work-details .nav-index .index-item + .index-item {
      margin-left: 24px; }
.container-work-details .project-metas {
  list-style: none;
  padding: 0;
  font-size: 0;
  margin-top: 40px; }
  .container-work-details .project-metas li {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 24px;
    margin-top: 0; }
  .container-work-details .project-metas h6 {
    font-size: 13px;
    line-height: 1.8;
    color: #B6C1DB; }
.container-work-details .markdown p, .container-work-details .markdown ul, .container-work-details .markdown ol, .container-work-details .markdown pre {
  margin-bottom: 16px; }
.container-work-details .markdown p, .container-work-details .markdown li, .container-work-details .markdown h5 {
  font-size: 16px;
  line-height: 1.8; }
.container-work-details .markdown li {
  line-height: 1.6; }
.container-work-details .markdown h5 {
  font-weight: 700; }
.container-work-details .markdown video,
.container-work-details .markdown .video-frame,
.container-work-details .markdown img {
  border-radius: 3px; }
  .container-work-details .markdown video:first-child,
  .container-work-details .markdown .video-frame:first-child,
  .container-work-details .markdown img:first-child {
    margin-top: 0; }
  .container-work-details .markdown video + img, .container-work-details .markdown video + video, .container-work-details .markdown video + .video-frame,
  .container-work-details .markdown .video-frame + img,
  .container-work-details .markdown .video-frame + video,
  .container-work-details .markdown .video-frame + .video-frame,
  .container-work-details .markdown img + img,
  .container-work-details .markdown img + video,
  .container-work-details .markdown img + .video-frame {
    margin-top: -32px; }

/*# sourceMappingURL=application.css.map */
