@import "mixin";
@import "bootstrab-theme";

body {
  background-color: $color-background;
  word-break: keep-all;
}

footer {
  @include h6;
  font-weight: 700;
  border-top: 1px solid $color-border;
  padding: 16px 0;
  margin-top: 120px;

  a {
    color: $color-text--primary;
    &:hover {
      color: $color-primary;
    }
  }

  .text-signed {
    color: $blue-grey-200;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    float: right;
  }
}

.nav-application {
  margin-top: 24px;
  padding: 16px 0;
  display: flex;

  .nav-item {
    @include h4;
    display: inline-block;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    color: $color-text--primary;

    &:hover {
      color: $color-primary;
    }
  }

  .nav-home {
    margin-right: auto;
  }

  .nav-menu {
    padding-left: 24px;

  }
}

.about--hero {
  @include margin-top--common;

  p {
    @include h2;
    font-weight: 500;
    line-height: 1.6;

    & + .introduce {margin-top: 40px;}
  }

  a {
    @include transition();
    position: relative;
    color: $color-text--primary;

    &::after {
      @include transition();
      content: '';
      position: absolute;
      height: 6px;
      display: block;
      background: $blue-grey-100;
      width: 100%;
      left: 0;
      bottom: 48%;
      z-index: -1;
    }

    &:hover {
      color: $color-primary;

      &::after {
        bottom: 112%;
        background: $blue-400;
      }
    }
  }
  
  br { @media ($xxl-down) {display: none;} }
}

.about--items {
  @include list-style-none;
  @include margin-top--common;

  li {
    @include h5;
    line-height: 2.4;
    font-weight: 500;
  }
}

.list-index {
  @include list-style-none;

  .list-item {
    padding-top: 64px;
    counter-reset: item-counter 0;
    counter-increment: item-counter;


    & + .list-item {
      padding-top: 160px;
    }
  }

  .label {
    @include h4;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: $color-text--secondary;
  }

  .recent-posts a {
    @include h2;
    margin-left: -2px;
    display: block;
    margin-top: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: $color-text--primary;

    &::after {
      @include transition();
      @include font-mono;
      content: '↗';
      color: $blue-grey-200;
      font-size: 19px;
      vertical-align: top;
    }


    &:hover {
      color: $color-primary;

      &::after {
        color: $color-primary;
      }
    }
  }

  .project {
    .number::before {
      content: "0" counter(item-counter);
    }

    .description {
      margin-top: 40px;
      margin-bottom: 80px;
    }

    img {
      width: 100%;
      margin-top: 40px;
    }
  }
}


