@import "varibales";
@import "mixin";

body {
  @include font-default;
  @include font-size-base;
  color: $color-text--primary;
  background-color: white;
  line-height: 1.4;
}

a {
  @include transition();
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $color-primary--hover;
  }
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-default;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1,
h2,
h3 {
  //-webkit-font-smoothing: antialiased;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

p {
  @include font-default;
  @include paragraph;

  &:last-child {margin-bottom: 0;}
}

sup {
  top: -.4em;
}

.text-muted {
  color: $color-text--secondary !important;
}

code,
kbd,
pre,
samp {
  @include h6;
  @include font-mono;
}

code {
  margin: 0 2px 0 0;
  padding: 2px 6px;
  color: $blue-grey-800;
  background-color: $blue-grey-25;
  border: 1px solid $color-border;
  border-radius: 3px;
}

pre {
  padding: 12px 16px;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  color: $blue-grey-900;
  background-color: $blue-grey-25;
  border: 1px solid $color-border;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

blockquote {
  padding: 16px;
  border-left: 3px solid $color-border;

  small {
    @include h6;
    font-weight: 400;
    font-style: italic;

    &:before {
      content: '―';
      padding-right: 8px;
    }
  }
}

.container {
  @include container-xl;
}

.container-sm {
  @include container-sm;
}

.container-md {
  @include container-md;
}

.container-lg {
  @include container-lg;
}

.container-xl {
  @include container-xl;
}

.container-xxl {
  @include container-xxl;
}

.container-xxxl {
  @include container-xxxl;
}

.row {
  margin-left: -24px;
  margin-right: -24px;

  @media ($xxl-up) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.col {
  padding-right: 24px;
  padding-left: 24px;

  @media ($xxl-up) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
