@import "varibales";
@import "fonts";

@mixin transition($transition-duration:.16s, $transition-property:all, $transition-timing-function:ease-in-out, $transition-delay:initial) {
  transition-duration: $transition-duration;
  transition-property: $transition-property;
  transition-timing-function: $transition-timing-function;
  transition-delay: $transition-delay;
}

@mixin font-size-base {
  font-size: 16px;
}

@mixin font-default {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
}

@mixin font-mono {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;
}

@mixin h1 {
  font-size: 64px;
  line-height: 1.4;
  word-spacing: -4px;
}

@mixin h2 {
  font-size: 48px;
  line-height: 1.4;
  word-spacing: -2px;
}

@mixin h3 {
  font-size: 36px;
  line-height: 1.4;
  word-spacing: -2px;
}

@mixin h4 {
  font-size: 24px;
  line-height: 1.4;
}

@mixin h5 {
  font-size: 20px;
  line-height: 1.6;
}

@mixin h6 {
  font-size: 16px;
  line-height: 1.8;
}

@mixin h7 {
  font-size: 13px;
  line-height: 1.8;
}

@mixin paragraph {
  font-size: 20px;
  line-height: 1.9;
  word-spacing: -1px;
}

@mixin container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@mixin container-sm {
  @include container;
  @media ($sm-up) {
    max-width: 576px;
  }
}

@mixin container-md {
  @include container;
  @media ($md-up) {
    max-width: 768px;
  }
}

@mixin container-lg {
  @include container;
  @media ($lg-up) {
    max-width: 992px;
  }
}

@mixin container-xl {
  @include container;
  @media ($xl-up) {
    max-width: 1200px;
  }
}

@mixin container-xxl {
  @include container;
  @media ($xxl-up) {
    max-width: 1600px;
  }
}

@mixin container-xxxl {
  @include container;
  @media ($xxxl-up) {
    max-width: 2000px;
  }
}

@mixin container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

@mixin list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin margin-top--common {
  padding-top: 64px;
}

@mixin linkable-inline($underline: 3px, $line-color: $color-primary) {
  @include transition();
  position: relative;
  display: inline;
  color: $color-text--primary;
  box-shadow: 0 $underline $line-color;

  &:hover {
    color: $color-primary;
    box-shadow: 0 0 $line-color;
  }

  @media ($lg-down) {
    box-shadow: 0 calc(#{$underline} - 1px) $line-color;
  }
}

@mixin fadeIn($delay: .8s) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  animation: fadeIn 1s ease-in-out $delay 1 backwards;
}