@import "varibales";
@import "fonts";

@mixin transition($transition-duration:.16s, $transition-property:all, $transition-timing-function:ease-in-out, $transition-delay:initial) {
  transition-duration: $transition-duration;
  transition-property: $transition-property;
  transition-timing-function: $transition-timing-function;
  transition-delay: $transition-delay;
}

@mixin font-size-base {
  font-size: 16px;
}

@mixin font-default {
  font-family: "Inter", 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
}

@mixin font-mono {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;
}

@mixin h1 {
  font-size: 64px;
  line-height: 1.4;
  word-spacing: -4px;
}

@mixin h2 {
  font-size: 48px;
  line-height: 1.4;
  word-spacing: -2px;
}

@mixin h3 {
  font-size: 32px;
  line-height: 1.4;
  word-spacing: -2px;
}

@mixin h4 {
  font-size: 24px;
  line-height: 1.8;
}

@mixin h5 {
  font-size: 20px;
  line-height: 1.8;
}

@mixin h6 {
  font-size: 16px;
  line-height: 1.8;
}

@mixin h7 {
  font-size: 13px;
  line-height: 1.8;
}

@mixin paragraph {
  font-size: 20px;
  line-height: 1.8;
  word-spacing: -1px;
}

@mixin container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@mixin container-sm {
  @include container;
  @media ($sm-up) {
    max-width: 576px;
  }
}

@mixin container-md {
  @include container;
  @media ($md-up) {
    max-width: 768px;
  }
}

@mixin container-lg {
  @include container;
  @media ($lg-up) {
    max-width: 992px;
  }
}

@mixin container-xl {
  @include container;
  @media ($xl-up) {
    max-width: 1200px;
  }
}

@mixin container-xxl {
  @include container;
  @media ($xxl-up) {
    max-width: 1600px;
  }
}

@mixin container-xxxl {
  @include container;
  @media ($xxxl-up) {
    max-width: 2000px;
  }
}

@mixin container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

@mixin list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin margin-top--common {
  padding-top: 64px;
}

@mixin linkable-inline {
  @include transition();
  position: relative;
  color: $color-text--primary;

  &::after {
    @include transition();
    content: '';
    position: absolute;
    height: 6px;
    display: block;
    background: $blue-grey-75;
    width: 100%;
    left: 0;
    bottom: 48%;
    z-index: -1;
  }

  &:hover {
    color: $color-primary;

    &::after {
      bottom: 100%;
      background: $blue-400;
    }
  }
}